.icon-upload {
	color: #fff;
}
.icon-atv {
	font-size: 18px;
	line-height: 30px;
	text-align: center;
	top: 20px;
}
.fileicon-small-bt {
	background-repeat: no-repeat;
}
.fileicon-large-bt {
	background: url(https://pan.baidu.com/box-static/file-widget-1/common/BT_54_6238b9c.png) center no-repeat;
}
.fileicon-middle-bt {
	background: url(https://pan.baidu.com/box-static/file-widget-1/common/middleListIcon_a31d29b.png) -440px -1px;
}
.fileicon-small-dws {
	background-repeat: no-repeat;
}
.fileicon-large-dws {
	background: url(https://pan.baidu.com/box-static/file-widget-1/common/CAD_54_5497608.png) center no-repeat;
}
.fileicon-middle-dws {
	background: url(https://pan.baidu.com/box-static/file-widget-1/common/middleListIcon_a31d29b.png) -120px -51px;
}
.fileicon-small-code {
	background-repeat: no-repeat;
}
.fileicon-large-code {
	background: url(https://pan.baidu.com/box-static/file-widget-1/common/Code_54_cffd46f.png) center no-repeat !important;
}
.fileicon-small-txt {
	background-repeat: no-repeat;
}
.fileicon-small-pdf {
	background-repeat: no-repeat;
}
.fileicon-small-doc {
	background-repeat: no-repeat;
}
.fileicon-small-ppt {
	background-repeat: no-repeat;
}
.fileicon-small-xls {
	background-repeat: no-repeat;
}
.fileicon-small-vsd {
	background-repeat: no-repeat;
}
.fileicon-large-txt {
	background: url(https://pan.baidu.com/box-static/file-widget-1/common/Text_54_6d41969.png) center no-repeat;
}
.fileicon-large-pdf {
	background: url(https://pan.baidu.com/box-static/file-widget-1/common/PDF_54_ae4e37a.png) center no-repeat;
}
.fileicon-large-doc {
	background: url(https://pan.baidu.com/box-static/file-widget-1/common/Word_54_6167687.png) center no-repeat;
}
.fileicon-large-ppt {
	background: url(https://pan.baidu.com/box-static/file-widget-1/common/PPT_54_0b3dc6d.png) center no-repeat;
}
.fileicon-large-xls {
	background: url(https://pan.baidu.com/box-static/file-widget-1/common/Excel_54_08289af.png) center no-repeat;
}
.fileicon-large-vsd {
	background: url(https://pan.baidu.com/box-static/file-widget-1/common/Visio_54_c3dd4c6.png) center no-repeat;
}
.fileicon-middle-txt {
	background: url(https://pan.baidu.com/box-static/file-widget-1/common/middleListIcon_a31d29b.png) -161px -1px;
}
.fileicon-middle-pdf {
	background: url(https://pan.baidu.com/box-static/file-widget-1/common/middleListIcon_a31d29b.png) -41px -1px;
}
.fileicon-middle-doc {
	background: url(https://pan.baidu.com/box-static/file-widget-1/common/middleListIcon_a31d29b.png) -81px -1px;
}
.fileicon-middle-ppt {
	background: url(https://pan.baidu.com/box-static/file-widget-1/common/middleListIcon_a31d29b.png) -281px -1px;
}
.fileicon-middle-xls {
	background: url(https://pan.baidu.com/box-static/file-widget-1/common/middleListIcon_a31d29b.png) -121px -1px;
}
.fileicon-middle-rar {
	background: url(https://pan.baidu.com/box-static/file-widget-1/common/middleListIcon_a31d29b.png) -319px -51px;
}
.fileicon-middle-zip {
	background: url(https://pan.baidu.com/box-static/file-widget-1/common/middleListIcon_a31d29b.png) -41px -52px;
}
.fileicon-small-pic {
	background-repeat: no-repeat;
}
.fileicon-middle-pic {
	background: url(https://pan.baidu.com/box-static/file-widget-1/common/middleListIcon_a31d29b.png) -1px -51px;
}
.fileicon-small-mmap {
	background-repeat: no-repeat;
}
.fileicon-small-xmind {
	background-repeat: no-repeat;
}
.fileicon-small-mm {
	background-repeat: no-repeat;
}
.fileicon-large-mmap {
	background: url(https://pan.baidu.com/box-static/file-widget-1/common/MMAP_54_5451eab.png) center no-repeat;
}
.fileicon-large-xmind {
	background: url(https://pan.baidu.com/box-static/file-widget-1/common/Xmind_54_3bb4e79.png) center no-repeat;
}
.fileicon-large-mm {
	background: url(https://pan.baidu.com/box-static/file-widget-1/common/MM_54_6380666.png) center no-repeat;
}
.fileicon-middle-mmap {
	background: url(https://pan.baidu.com/box-static/file-widget-1/common/middleListIcon_a31d29b.png) -161px -51px;
}
.fileicon-middle-xmind {
	background: url(https://pan.baidu.com/box-static/file-widget-1/common/middleListIcon_a31d29b.png) -201px -51px;
}
.fileicon-middle-mm {
	background: url(https://pan.baidu.com/box-static/file-widget-1/common/middleListIcon_a31d29b.png) -241px -51px;
}
.fileicon-small-mp3 {
	background-repeat: no-repeat;
}
.fileicon-large-mp3 {
	background: url(https://pan.baidu.com/box-static/file-widget-1/common/Music_54_fd75225.png) center no-repeat;
}
.icon-play-music {
	background-repeat: no-repeat;
}
.g-button:hover .icon-play-music {
	background-position: -30px -30px;
}
.fileicon-middle-mp3 {
	background: url(https://pan.baidu.com/box-static/file-widget-1/common/middleListIcon_a31d29b.png) -201px -1px;
}
.g-button:hover .icon-edit {
	background-position: -90px -27px;
}
.default-small {
	background-repeat: no-repeat;
}
.dir-multi-small {
	background-repeat: no-repeat;
}
.dir-multi-middle {
	background-repeat: no-repeat;
}
.dir-small {
	background-repeat: no-repeat;
}
.dir-share-small {
	background: url(https://pan.baidu.com/box-static/file-widget-1/sysIcon/img/Share_24_f21bad6.png) center no-repeat;
}
.dir-cang-small {
	background-repeat: no-repeat;
}
.dir-card-small {
	background: url(https://pan.baidu.com/box-static/file-widget-1/sysIcon/img/card_24_ff51176.png) center no-repeat;
}
.dir-source-small {
	background: url(https://pan.baidu.com/box-static/file-widget-1/sysIcon/img/source_24_36bc141.png) center no-repeat;
}
.dir-app-small,
.dir-apps-small {
	background-repeat: no-repeat;
}
.dir-backup-small {
	background-repeat: no-repeat;
}
.default-middle {
	background: url(https://pan.baidu.com/box-static/file-widget-1/sysIcon/img/sprite_list_icon30_891cc19.png) -561px 0 no-repeat;
}
.dir-middle {
	background: url(https://pan.baidu.com/box-static/file-widget-1/sysIcon/img/sprite_list_icon30_891cc19.png) -202px -100px
		no-repeat;
}
.dir-share-middle {
	background-repeat: no-repeat;
}
.dir-cang-middle {
	background: url(https://pan.baidu.com/box-static/file-widget-1/sysIcon/img/sprite_list_icon30_891cc19.png) -82px -100px
		no-repeat;
}
.dir-app-middle,
.dir-apps-middle {
	background: url(https://pan.baidu.com/box-static/file-widget-1/sysIcon/img/sprite_list_icon30_891cc19.png) -2px -100px
		no-repeat;
}
.dir-backup-middle {
	background: url(https://pan.baidu.com/box-static/file-widget-1/sysIcon/img/sprite_list_icon30_891cc19.png) -122px -100px
		no-repeat;
}
.default-large {
	background: url(https://pan.baidu.com/box-static/file-widget-1/sysIcon/img/Misc_54_f86ddc2.png) center no-repeat;
}
.dir-large {
	background: url(https://pan.baidu.com/box-static/file-widget-1/sysIcon/img/Folder_54_fe544cc.png) center no-repeat;
}
.dir-share-large {
	background: url(https://pan.baidu.com/box-static/file-widget-1/sysIcon/img/Share_54_142956d.png) center no-repeat;
}
.dir-cang-large {
	background: url(https://pan.baidu.com/box-static/file-widget-1/sysIcon/img/Collection_54_7849a8d.png) center no-repeat;
}
.dir-card-large {
	background: url(https://pan.baidu.com/box-static/file-widget-1/sysIcon/img/card_54_b068d33.png) center no-repeat;
}
.dir-source-large {
	background: url(https://pan.baidu.com/box-static/file-widget-1/sysIcon/img/source_54_34fd1e2.png) center no-repeat;
}
.dir-app-large,
.dir-apps-large {
	background: url(https://pan.baidu.com/box-static/file-widget-1/sysIcon/img/MyData_54_cb4dfe9.png) center no-repeat;
}
.dir-backup-large {
	background: url(https://pan.baidu.com/box-static/file-widget-1/sysIcon/img/PC_54_e2efc5f.png) center no-repeat;
}
.dir-multi-large {
	background: url(https://pan.baidu.com/box-static/file-widget-1/sysIcon/img/gridIcon_7165cae.png) -600px -100px
		no-repeat;
}
.dir-phone-large {
	background: url(https://pan.baidu.com/box-static/file-widget-1/sysIcon/img/Phone_54_a774466.png) center no-repeat;
}
.dir-phone-small {
	background-repeat: no-repeat;
}
.fileicon-sys-s-exe {
	background-repeat: no-repeat;
}
.fileicon-sys-s-apk {
	background-repeat: no-repeat;
}
.fileicon-sys-s-psd {
	background-repeat: no-repeat;
}
.fileicon-sys-s-key {
	background-repeat: no-repeat;
}
.fileicon-sys-s-ai {
	background-repeat: no-repeat;
}
.fileicon-sys-s-ipa {
	background-repeat: no-repeat;
}
.fileicon-sys-s-vsd {
	background-repeat: no-repeat;
}
.fileicon-sys-s-pages {
	background-repeat: no-repeat;
}
.fileicon-sys-s-numbers {
	background-repeat: no-repeat;
}
.fileicon-sys-s-fonts {
	background-repeat: no-repeat;
}
.fileicon-sys-s-code {
	background-repeat: no-repeat;
}
.fileicon-sys-s-web {
	background-repeat: no-repeat;
}
.fileicon-sys-s-links {
	background-repeat: no-repeat;
}
.fileicon-sys-s-eps {
	background-repeat: no-repeat;
}
.fileicon-sys-s-swf {
	background-repeat: no-repeat;
}
.fileicon-sys-s-video {
	background-repeat: no-repeat;
}
.fileicon-sys-l-dmg,
.fileicon-sys-l-exe {
	background: url(https://pan.baidu.com/box-static/file-widget-1/sysIcon/img/EXE_54_a0ff130.png) center no-repeat;
}
.fileicon-sys-l-apk {
	background: url(https://pan.baidu.com/box-static/file-widget-1/sysIcon/img/Android_54_b57a094.png) center no-repeat;
}
.fileicon-sys-l-psd {
	background: url(https://pan.baidu.com/box-static/file-widget-1/sysIcon/img/PS_54_93523dc.png) center no-repeat;
}
.fileicon-sys-l-key {
	background: url(https://pan.baidu.com/box-static/file-widget-1/sysIcon/img/Keynote_54_96fb842.png) center no-repeat;
}
.fileicon-sys-l-ai {
	background: url(https://pan.baidu.com/box-static/file-widget-1/sysIcon/img/AI_54_345b023.png) center no-repeat;
}
.fileicon-sys-l-vsd {
	background: url(https://pan.baidu.com/box-static/file-widget-1/sysIcon/img/Visio_54_c3dd4c6.png) center no-repeat;
}
.fileicon-sys-l-ipa {
	background: url(https://pan.baidu.com/box-static/file-widget-1/sysIcon/img/Apple_54_7d9656c.png) center no-repeat;
}
.fileicon-sys-l-pages {
	background: url(https://pan.baidu.com/box-static/file-widget-1/sysIcon/img/Pages_54_e91ce45.png) center no-repeat;
}
.fileicon-sys-l-numbers {
	background: url(https://pan.baidu.com/box-static/file-widget-1/sysIcon/img/Numbers_54_dac4f63.png) center no-repeat;
}
.fileicon-sys-l-fonts {
	background: url(https://pan.baidu.com/box-static/file-widget-1/sysIcon/img/Fonts_54_db07580.png) center no-repeat;
}
.fileicon-sys-l-code {
	background: url(https://pan.baidu.com/box-static/file-widget-1/sysIcon/img/Code_54_cffd46f.png) center no-repeat;
}
.fileicon-sys-l-web {
	background: url(https://pan.baidu.com/box-static/file-widget-1/sysIcon/img/Web_54_195198e.png) center no-repeat;
}
.fileicon-sys-l-links {
	background: url(https://pan.baidu.com/box-static/file-widget-1/sysIcon/img/Links_54_e5e6311.png) center no-repeat;
}
.fileicon-sys-l-eps {
	background: url(https://pan.baidu.com/box-static/file-widget-1/sysIcon/img/EPS_54_3dad67a.png) center no-repeat;
}
.fileicon-sys-l-swf {
	background: url(https://pan.baidu.com/box-static/file-widget-1/sysIcon/img/Flash_54_1af0d00.png) center no-repeat;
}
.fileicon-sys-l-video {
	background: url(https://pan.baidu.com/box-static/file-widget-1/sysIcon/img/Video_54_7880c8d.png) center no-repeat;
}
.fileicon-small-video {
	background-repeat: no-repeat;
}
.fileicon-large-video {
	background: url(https://pan.baidu.com/box-static/file-widget-1/common/Video_54_7880c8d.png) center no-repeat;
}
.fileicon-middle-video {
	background: url(https://pan.baidu.com/box-static/file-widget-1/common/middleListIcon_a31d29b.png) -240px -1px;
}
.fileicon-small-zip {
	background-repeat: no-repeat;
}
.fileicon-large-zip {
	background: url(https://pan.baidu.com/box-static/file-widget-1/common/ZIP_54_667d9c9.png) center no-repeat;
}
.fileicon-small-rar {
	background-repeat: no-repeat;
}
.fileicon-large-rar {
	background: url(https://pan.baidu.com/box-static/file-widget-1/common/RAR_54_7b7bbfb.png) center no-repeat;
}
.fileicon-small-bt {
	background-position: -596px 0px;
}
.fileicon-small-dws {
	background-position: -596px -34px;
}
.fileicon-small-code {
	background-position: -596px -68px;
}
.fileicon-small-txt {
	background-position: -596px -102px;
}
.fileicon-small-pdf {
	background-position: -596px -136px;
}
.fileicon-small-doc {
	background-position: -596px -170px;
}
.fileicon-small-ppt {
	background-position: -596px -204px;
}
.fileicon-small-xls {
	background-position: -596px -238px;
}
.fileicon-small-vsd {
	background-position: -596px -272px;
}
.fileicon-small-pic {
	background-position: -596px -306px;
}
.fileicon-small-mmap {
	background-position: -596px -340px;
}
.fileicon-small-xmind {
	background-position: -596px -374px;
}
.fileicon-small-mm {
	background-position: -596px -408px;
}
.fileicon-small-mp3 {
	background-position: -596px -442px;
}
.icon-play-music {
	background-position: -361px -506px;
}
.default-small {
	background-position: -596px -566px;
}
.dir-multi-small {
	background-position: -500px -630px;
}
.dir-multi-middle {
	background-position: -280px -752px;
}
.dir-small {
	background-position: -594px -862px;
}
.dir-cang-small {
	background-position: -594px -898px;
}
.dir-app-small,
.dir-apps-small {
	background-position: -594px -934px;
}
.dir-backup-small {
	background-position: -594px -970px;
}
.dir-share-middle {
	background-position: -588px -1006px;
}
.dir-phone-small {
	background-position: -594px -1048px;
}
.fileicon-sys-s-exe {
	background-position: -596px -1084px;
}
.fileicon-sys-s-apk {
	background-position: -596px -1118px;
}
.fileicon-sys-s-psd {
	background-position: -596px -1152px;
}
.fileicon-sys-s-key {
	background-position: -596px -1186px;
}
.fileicon-sys-s-ai {
	background-position: -596px -1220px;
}
.fileicon-sys-s-ipa {
	background-position: -596px -1254px;
}
.fileicon-sys-s-vsd {
	background-position: -596px -1288px;
}
.fileicon-sys-s-pages {
	background-position: -596px -1322px;
}
.fileicon-sys-s-numbers {
	background-position: -596px -1356px;
}
.fileicon-sys-s-fonts {
	background-position: -596px -1390px;
}
.fileicon-sys-s-code {
	background-position: -596px -1424px;
}
.fileicon-sys-s-web {
	background-position: -594px -1458px;
}
.fileicon-sys-s-links {
	background-position: -596px -1494px;
}
.fileicon-sys-s-eps {
	background-position: -596px -1528px;
}
.fileicon-sys-s-swf {
	background-position: -596px -1562px;
}
.fileicon-sys-s-video {
	background-position: -596px -1596px;
}
.fileicon-small-video {
	background-position: -596px -1630px;
}
.fileicon-small-zip {
	background-position: -596px -1664px;
}
.fileicon-small-rar {
	background-position: -596px -1698px;
}
.fileicon-small-bt,
.fileicon-small-dws,
.fileicon-small-code,
.fileicon-small-txt,
.fileicon-small-pdf,
.fileicon-small-doc,
.fileicon-small-ppt,
.fileicon-small-xls,
.fileicon-small-vsd,
.fileicon-small-pic,
.fileicon-small-mmap,
.fileicon-small-xmind,
.fileicon-small-mm,
.fileicon-small-mp3,
.icon-play-music,
.default-small,
.dir-multi-small,
.dir-multi-middle,
.dir-small,
.dir-cang-small,
.dir-app-small,
.dir-apps-small,
.dir-backup-small,
.dir-share-middle,
.dir-phone-small,
.fileicon-sys-s-exe,
.fileicon-sys-s-apk,
.fileicon-sys-s-psd,
.fileicon-sys-s-key,
.fileicon-sys-s-ai {
	background-image: url(https://pan.baidu.com/box-static/file-widget-1/icons_z_6ae3d28.png);
}
.fileicon-sys-s-ipa,
.fileicon-sys-s-vsd,
.fileicon-sys-s-pages,
.fileicon-sys-s-numbers,
.fileicon-sys-s-fonts,
.fileicon-sys-s-code,
.fileicon-sys-s-web,
.fileicon-sys-s-links,
.fileicon-sys-s-eps,
.fileicon-sys-s-swf,
.fileicon-sys-s-video,
.fileicon-small-video,
.fileicon-small-zip,
.fileicon-small-rar {
	background-image: url(https://pan.baidu.com/box-static/file-widget-1/icons_z_6ae3d28.png);
}
.icon-online {
	background: url(https://pan.baidu.com/box-static/function-widget-1/device/img/device-online_6f31fc0.png) no-repeat;
}
.icon-history-gray {
	background: url(https://pan.baidu.com/box-static/function-widget-1/common/plugin-icon_7318e47.png) -30px -58px
		no-repeat;
}
.g-button:hover .icon-history-gray {
	background-position: -30px -58px;
}
.icon-aside-share {
	background: url(https://pan.baidu.com/box-static/function-widget-1/common/navigator_8461603.png);
}
a:hover .icon-aside-share {
	background-position: -23px 0;
}
.icon-print-gray {
	background: url(https://pan.baidu.com/box-static/function-widget-1/common/plugin-icon_7318e47.png) -180px -28px
		no-repeat;
}
.g-button:hover .icon-print-gray {
	background-position: -210px -28px;
}
.icon-beautify-gray {
	background: url(https://pan.baidu.com/box-static/function-widget-1/common/plugin-icon_7318e47.png) -60px -58px
		no-repeat;
}
.g-button:hover .icon-beautify-gray {
	background-position: -90px -58px;
}
.icon-puzzle-gray {
	background: url(https://pan.baidu.com/box-static/function-widget-1/common/plugin-icon_7318e47.png) -120px -60px
		no-repeat;
}
.g-button:hover .icon-puzzle-gray {
	background-position: -150px -60px;
}
.icon-qrCode-gray {
	background-repeat: no-repeat;
}
.g-button:hover .icon-qrCode-gray {
	background-repeat: no-repeat;
}
.icon-aside-recyclebin {
	background: url(https://pan.baidu.com/box-static/function-widget-1/common/navigator_8461603.png) 0 -22px;
}
a:hover .icon-aside-recyclebin {
	background-position: -23px -22px;
}
.icon-share-gray {
	background: url(https://pan.baidu.com/box-static/function-widget-1/common/plugin-icon_7318e47.png) -180px 0 no-repeat;
}
.g-button:hover .icon-share-gray {
	background-position: -240px 0;
}
.icon-share-blue {
	background: url(https://pan.baidu.com/box-static/function-widget-1/common/plugin-icon_7318e47.png) -210px 0 no-repeat;
}
.icon-share-blue:hover {
	background-position: -240px 0;
}
.icon-qrCode-gray {
	background-position: 0px 0px;
}
.g-button:hover .icon-qrCode-gray {
	background-position: 0px -33px;
}
.icon-qrCode-gray,
.g-button:hover .icon-qrCode-gray {
	background-image: url(https://pan.baidu.com/box-static/function-widget-1/icons_z_e5c1278.png);
}
