* {
	font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial,
		sans-serif;
}

body,
main,
header,
footer {
	margin: 0 !important;
	padding: 0 !important;
}

*[disabled] {
	pointer-events: none;
}

.el-dropdown[disabled] .el-button {
	color: #c0c4cc;
	border-color: #ebeef5;
}

.el-popper[x-placement^='bottom'] {
	margin-top: 5px;

	.svg-icon {
		top: -2px;
		width: 1em;
		font-size: 14px;
		position: relative;
		padding-right: 5px;
	}
}

.nav-header {
	-webkit-app-region: drag;
	background-color: #eef0f6;
	border-bottom: 1px solid #d6d8dd;

	.logo {
		max-width: 170px;
		padding-left: 15px;
	}

	.el-menu {
		border: none;
		background: transparent;

		.el-menu-item {
			padding: 0;
			color: #000;
			height: 45px;
			margin: 0 20px;
			line-height: 45px;

			&:focus,
			&:hover,
			&.is-active {
				color: #06a8ff;
				border-color: #06a8ff;
				background: transparent;
			}
		}
	}

	.action-group {
		width: auto;
		height: 30px;
		display: flex;
		align-self: flex-start;
		-webkit-app-region: no-drag;

		.avatar-popover {
			padding: 3px;

			.avatar {
				height: 25px;
				border-radius: 50%;
			}
		}

		.el-button {
			margin: 0;
			padding: 0;
			width: 46px;
			border: none;
			color: #000;
			cursor: default;
			border-radius: 0;
			background: transparent;

			&:hover {
				background-color: #ddd;

				&.window-close {
					color: #ffffff;
					background-color: red;
				}
			}
		}
	}
}

.avatar-popover-content {
	padding: 0;
	border: none;
	box-shadow: none;
	margin-right: 10px;
	background: transparent;
	-webkit-app-region: no-drag;

	.user-card {
		padding: 5px;
		width: 218px;
		height: 135px;
		margin-top: -10px;
		background: url('@~/static/images/notvip_bg.png') center no-repeat;

		&:last-child {
			height: 115px;
			margin-top: -15px;
			background-position-y: bottom;
		}

		& > div {
			padding: 30px 15px;

			.username-btn {
				color: #000;
				font-size: 15px;

				&:hover {
					color: #696969;
				}
			}

			.el-progress-bar {
				margin: 0;
				padding: 0;

				.el-progress-bar__outer {
					background-color: #e1e1e1;
				}
			}

			.el-progress__text {
				margin: 5px 0;
			}
		}

		.el-button-group {
			padding: 5px;
			display: grid;
			margin: -5px -1px;
			background: #fff;

			.el-button {
				border: none;
				text-align: left;
				background: transparent;

				&:hover {
					border-radius: 1px;
					background: #eef0f6;
				}
			}
		}
	}
}

.nav-aside {
	display: flex;
	flex-direction: column;
	width: 165px !important;
	background-color: #f9fafb;
	border-right: solid 1px #e6e6e6;

	.nav-menu {
		flex: 1;
		border: none;
		padding: 5px 0;
		overflow: auto;
		background-color: transparent;

		.el-menu-item {
			height: 32px;
			line-height: 32px;
			border-left: 3px solid transparent;

			&:hover {
				color: #409eff;
				background-color: #edf6fb;
			}

			&.is-active {
				border-left-color: initial;
				background-color: #e0f2fb;
			}

			[class^='el-icon-'] {
				color: inherit;
				font-size: 16px;
				vertical-align: text-top;
			}
		}
	}

	.nav-progress {
		height: 40px;

		.el-progress-bar {
			padding: 0 10px;
		}

		.el-progress__text {
			font-size: 12px !important;
		}
	}
}

.main-view {
	.toolbar {
		padding: 5px;
		margin: 0 !important;
		background-color: #f9fafb;
		border-bottom: 1px solid #f0f0f0;

		.transfer-progress {
			line-height: 0;
		}

		.el-button {
			margin-left: 0;
			background-color: transparent;

			.svg-icon {
				margin-right: 5px;
				vertical-align: top;
			}
		}
	}

	.action-path {
		padding: 0 10px;
		border-bottom: 1px solid #f0f0f0;

		.el-button {
			border: none;
			padding: 10px 0;
			font-size: 16px;

			& + .el-button {
				margin-left: 5px;
			}
		}

		.split {
			width: auto;
			height: 20px;
			margin: 0 10px;
			border-left: 1px solid #e4e4e4;
		}

		.el-breadcrumb {
			font-size: 12px;
			display: inline-block;

			.is-link {
				font-weight: normal;
			}

			.el-breadcrumb__item:last-child {
				pointer-events: none;
			}
		}

		.search-input {
			width: 200px;
			border: none;
			outline: none;
			font-size: 12px;
			line-height: 25px;
		}
	}

	.el-checkbox__input {
		line-height: 0;
	}

	.el-table th {
		padding: 0;
	}

	.el-table .el-table__body tr.selected-row > td {
		background-color: #ecf5ff;
	}

	.share-expand {
		padding: 0;

		.cell {
			display: none;
		}
	}

	.share-btn-group {
		display: none;
		align-self: center;

		button {
			border: none;
			padding: 0 0 0 10px;
			background: transparent;
		}
	}

	.el-table__row:hover {
		.share-btn-group {
			display: inline-block;
		}
	}

	.el-table__expanded-cell {
		padding: 10px 50px;
	}

	.share-lock .cell,
	.el-table-column--selection .cell {
		padding: 0;
	}

	.filename-column .cell {
		padding-left: 0px;
	}

	.filename,
	.share-filename {
		flex: 1;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	.filename {
		flex: none;
		color: #000;

		&:hover {
			color: #06a8ff;
		}
	}

	.share-filename {
		line-height: 2.5;
	}

	.thumb-view {
		flex: 1;
		overflow: auto;
		padding: 0 10px;
		border-bottom: 1px solid #ebeef5;

		&[flex] {
			display: flex;
			text-align: center;
			align-items: center;
		}

		.action {
			margin: 5px;
			width: 130px;
			height: 120px;
			text-align: center;

			[class^='el-icon-'] {
				margin: 14px;
				padding: 15px;
				font-size: 35px;
				color: #cbcbcb;
				border-radius: 2px;
				border: 1px dashed #cbcbcb;

				&:hover {
					color: #1ed0ff;
					border-color: #1ed0ff;
				}

				+ span {
					display: block;
					font-size: 12px;
				}
			}
		}

		.thumb-item {
			float: left;
			margin: 5px;
			padding: 5px;
			width: 130px;
			height: 120px;
			border-radius: 2px;
			text-align: center;
			border: 1px solid transparent;

			&:hover,
			&.selected {
				border-color: #1ed0ff;
				background-color: #daf5ff;
			}

			.icon {
				height: 85px;
				display: flex;
				align-items: center;
				justify-content: center;

				img {
					max-width: 100%;
					max-height: 100%;
				}
			}

			.text {
				display: block;
				overflow: hidden;
				font-size: 12px;
				margin-top: 4px;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
		}
	}
}

.url-copy-success {
	color: #fff;
	padding: 10px;
	min-width: auto;
	background-color: #32a6ff;
	-webkit-app-region: no-drag;

	& > .el-message__content {
		padding-left: 5px;
	}
}

.img-dialog {
	.el-dialog__header {
		display: none;
		visibility: hidden;
	}

	.el-dialog__body {
		padding: 0;
		height: 100%;
		background-color: #000000;

		.el-icon-close {
			top: 10px;
			right: 10px;
			cursor: pointer;
			font-size: 25px;
			font-weight: bold;
			color: #ffffff;
			position: absolute;

			&:hover {
				color: #3b8cff;
			}
		}

		.el-button {
			top: 50%;
			width: 55px;
			opacity: 0;
			height: 55px;
			font-size: 25px;
			font-weight: bold;
			color: #ffffff;
			position: absolute;
			border-color: transparent;
			background-color: rgba(59, 59, 59, 0.6);

			&.left {
				left: 40px;
			}

			&.right {
				right: 40px;
			}

			&:hover {
				background-color: #3b8cff;
			}

			&[disabled] {
				display: none;
			}
		}

		.img-preview {
			display: block;
			margin: 0 auto;
			height: 100%;
			max-width: 100%;
		}

		&:hover .el-button {
			opacity: 1;
		}
	}
}

.path-chooser-dialog {
	width: 400px;
	.el-dialog__body {
		padding: 0 15px;
		.el-tree {
			height: 260px;
			overflow: auto;
			border-radius: 2px;
			border: 1px solid #e6e6e6;
			.el-tree-node__children {
				overflow: inherit;
			}
		}
	}
	.el-dialog__header,
	.el-dialog__footer {
		padding: 15px;
	}
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	border-radius: 5px;
	background-color: #dddddd;
}

::-webkit-scrollbar-thumb {
	min-width: 30px;
	min-height: 30px;
	border-radius: 5px;
	background-color: #aaaaaa;
	&:hover {
		background-color: #7c7b7b;
	}
}
